.btnAnimate:hover{
    background-color: purple
}
.input{
    margin-top:0px; 
    padding:0px
}
.field{
    margin-bottom:0px;
    padding-left:5px
}
.fieldBk{
    background-color: rgba(99, 93, 99, 0.13);
}