<div class="main-content" style="margin-top:70px">
  <div class="container-fluid">
    <form id="signupForm" #signupForm="ngForm">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="heading" style="text-align:center;">
            <span style="color:purple;font-size: 35px;">
              <b> Sign Up </b>
            </span>
          </div>
          <br>
          <p *ngIf="!isValidUsername" style="color:red;text-align: center; ">Email Id already exits!</p>
          <div class="fieldBk">
            <p class="text-primary field">Name</p>
            <input autocomplete="off" class="input" [(ngModel)]="name" name="name" type="text" class="form-control"
              required>
          </div>
          <br>
          <div class="fieldBk">
            <p class="text-primary field">Last Name</p>
            <input autocomplete="off" class="input" type="text" name="lastname" [(ngModel)]="lastname"
              class="form-control" required>
          </div>
          <br>
          <div class="fieldBk">
            <p class="text-primary field">Email</p>
            <input autocomplete="off" class="input" type="email" #Email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="email" name="Email"
              class="form-control">
          </div>
          <p style="color:red" *ngIf="Email.touched && Email.dirty && Email.invalid">Email is invalid</p>
          <br>
          <div>
            <div class="fieldBk">
              <p class="text-primary field">Password</p>
              <input autocomplete="off" class="input" [(ngModel)]="password" name="password" type="password"
                class="form-control" required>
            </div>
          </div>
          <br>
          <div style="background:none; align-items:center">
            <button class="btn btn-round btnAnimate" style="float:right" [disabled]="!signupForm.valid||Email.invalid"
              (click)="signup()">
              Sign Up
            </button>
          </div>
          <div style="background:none; align-items:center">
            <button class="btn btn-round btnAnimate" style="float:left" (click)="redirectToLogin()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
